@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
  overflow-x: hidden;
}

/* ------------- ROOT ------------- */

#root {
    min-height: 100vh;
    overflow-x: hidden;
}

/* ------------- SCROLLBAR ------------- */

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #545454;
}

::-webkit-scrollbar-track:vertical {
    border-radius: 0px;
}

/* ------------- BASE ------------- */

body {
    width: 100vw;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

textarea {
    resize: none;
    width: 80%;
    height: 150px;
}

p {
    margin-bottom: 0;
}

/* ------------- UTIL ------------- */

.page {
    min-height: 100vh;
    max-width: 100vw;
}

.page a {
    text-decoration: none;
    color: white;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.danger {
    color: #dc3545;
}

.page-with-menu {
    padding: 15px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom: .5rem;
}

/* ------------- MENU ------------- */

.menu {
    background-color: rgb(49, 49, 49);
    padding: 0;
    color: white;
}

.menu #info {
    background-color: rgb(34, 34, 34);
}

.menu #info>* {
    padding: 10px;
}

.menu h4 {
    margin-bottom: 0;
    display: contents;
}

.menu .nav {
    background-color: rgb(20, 20, 20);
    padding-left: calc(var(--bs-gutter-x) * .5);
    overflow-x: auto;
    flex-wrap: nowrap;
    min-width: 100%;
}

.menu .nav>.row {
    flex-wrap: nowrap;
    --bs-gutter-x: none;
    --bs-gutter-y: none;
    margin: 0 !important;
}

.menu .nav>.row>* {
    flex-wrap: nowrap;
    flex-shrink: none;
    width: auto;
    max-width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}

.menu .nav-pills .nav-link {
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menu .nav-pills .nav-link.active, .menu .nav-pills .show>.nav-link {
    background-color: #dc3545;
    color: black;
}

.menu .nav-pills .nav-item.no-border-top-left .nav-link {
    border-top-left-radius: 0;
}

.menu .nav-pills .nav-item.no-border-top-left:first-of-type .nav-link {
    border-top-right-radius: 0;
}

.menu .nav-pills .nav-item:first-of-type .nav-link {
    border-top-left-radius: 0;
    background-color: #f74d5f;
}

.menu .nav-item svg {
    padding-bottom: 4px;
}

/* ------------- MODAL ------------- */

.modal {
    width: 100%;
}

.modal form label#text {
    margin-bottom: 2px;
}

.modal form label p {
    font-size: 0.65rem;
    color: gray;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.modal-header h2 {
    padding: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
}

.modal-header button {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em;
    color: #000;
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

.modal-header button:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.form-group {
    display: block;

}

.form-group label {
    margin-bottom: 10px;
}

.form-group label:first-of-type {
    margin-right: 10px;
}

.form-group input[type="checkbox"] {
    margin-right: 3px;
}

li {
    display: flex;
}

li button {
    margin-left: 5px;
}

.mb-3.wrap-group {
    margin-top: -1rem !important;
}

.mb-3.wrap-group>.form-group {
    margin-top: 1rem !important;
}

.styleList Button {
    float: right;
    margin: 0rem 0.5rem 0rem 0.3rem;
}

.styleList Button:last-child {
    float: right;
}

.styleList ul {
    border-bottom: 1px solid rgb(190, 185, 185);
}

/* ------------- MAP ------------- */

.map-search {
    display: flex;
    position: absolute;
    top: 0.6rem;
    left: 3rem;
    z-index: 1000;
}

.map-search>button {
    margin-left: 8px;
    padding-bottom: 0;
    padding-top: 0;
}

.map-search>button>svg {
    margin-bottom: 3.5px;
}

.map-search>div#filters {
    width: 80vw;
    height: auto;
    background-color: white;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    z-index: 9999;
    position: absolute;
    top: 45px;
}

.map-search>.row {
    width: 100%;
    display: flex;
}

.map-search form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.map-search form>* {
    width: 33%;
}

@media only screen and (max-width: 600px) {
    .map-search form>* {
        width: 50%;
    }
}

.map-search>div#filters .form-check-input {
    width: 1.5em;
    height: 1.5em;
}

.map-search label {
    margin-top: 3px;
    margin-left: 8px;
}

.map-search>div#info {
    position: fixed;
    background-color: rgb(20, 20, 20);
    width: 40vw;
    height: 20vh;
    bottom: 30px;
    right: 0;
}

.map-search>div#info>button {
    position: absolute;
    top: -5px;
    right: 0;
    border: none;
    border-radius: 0;
    background-color: #dc3545;
    box-shadow: 0 0 0 0.25rem #dc3545;
    color: rgb(20, 20, 20);
}

.map-search>div#info>button#open {
    background-color: #f74d5f;
    box-shadow: 0 0 0 0.25rem #f74d5f;
    top: -26px;
    padding-right: 65px;
}

.map-search>div#info>button:hover {
    color: #dc3545;
    background-color: rgb(20, 20, 20);
}

.map-search>div#info>button#open:hover {
    background-color: rgb(20, 20, 20);
    color: #f74d5f;
}

@media only screen and (max-width: 600px) {
    .map-search>div#info {
        width: 100vw;
    }
    .map-search>div#info>button#close {
        right: 14px;
    }
    .map-search>div#info>button#open {
        top: -26px;
        right: 0;
        left: 20px;
        padding-right: .75rem;
    }
}

.map-search>div#info h3 {
    padding: 20px;
    padding-bottom: 0;
    color: white;
    font-size: 1.5rem;
}

.map-search>div#info p {
    padding-right: 25px;
    padding-bottom: 20px;
    color: white;
    font-size: .75rem;
    margin-left: 20px;
}

.job-info-title {
    color: #dc3545;
}

.list-group-item h1 {
    margin: 0;
    display: inline;
}